body {
  background-color: #e9e9e9;
}

/* 全局重置 */
.alert {
  padding: 8px 32px 8px 8px;
  font-size: 12px;
}

/* 登陆页面 ================================================ */
.sign-page {
  background-color: #FFF;
}
.form-signin {
  width: 330px;
  height: 260px;
  padding: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -165px;
  margin-top: -170px;
}
.form-signin h2 {
  text-align: center;
}
.form-signin .form-signin-heading {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
  text-align: right;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.form-signin button {
  border-radius: 0;
}

/* 列表页面 ================================================ */
/* 头部主体菜单导航 */
.navbar-inverse {
  background-color: #5092BD;
  border-bottom: 1px solid #3A6A8A;
}
.navbar-inverse .navbar-brand {
  color: #FFF;
}
.navbar-inverse .navbar-nav > li > a {
  color: #BFDBEE;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #5092BD;
}
.navbar-inverse .badge {
  color: #BFDBEE;
  background-color: #33729C;
  border-radius: 3px;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #33729C;
}
.navbar .navbar-right {
  margin-right: 0;
}
.navbar .navbar-right .badge {
  background-color: #FF0000;
  color: #FFF;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  padding: 5px;
  position: absolute;
  top: 12px;
  right: 8px;
}
.navbar .navbar-right .badge:empty {
  display: block
}

/* 头部副菜单导航 */
.navbar-fixed-top {
  z-index: 8;
}
.navbar-fixed-top.subhead {
  top: 55px;
  padding: 0 10px;
  z-index: 7;
}
.subhead .sub-list {
  float: left;
  list-style: none;
  margin-top: 10px;
  margin-left: -20px;
}
.subhead .sub-list li {
  float: left;
  text-align: center;
  margin-right: 18px;
}
.subhead .sub-list li a {
  color: #666;
  font-size: 14px;
}
.subhead .sub-list li a:hover {
  color: #4A87B6;
  text-decoration: none;
}
.subhead .sub-list li.bread {
  color: #000;
  font-weight: bold;
}
.subhead .sub-list li.active a {
  color: #4A87B6;
}
.subhead .sub-list li.divider {
  border-left: 1px #ABA6A6 dashed;
  height: 20px;
}

.subhead .sub-btns {
  float: right;
  margin-top: 10px;
  list-style: none;
}
.subhead .sub-btns li {
  float: left;
  margin-left: 10px;
}

.have-subhead.list-container {
  top: 105px
}
/* 页面主题 */
.list-container {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 10px;
  right: 10px;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #FFF;
  width: auto;
  height: calc(100% - 60px);
  padding-left: 230px;
}

/* 列表页面主体左侧搜索栏 */
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 100%;
  overflow-y: auto;
  background-color: #f8f8f8;
  border-right: 1px solid #EDEBEB;
  padding: 0 10px 50px 10px;
  font-size: 12px;
}
.sidebar h1 {
  color: #4A87B6;
  font-size: 14px;
  border-top: 1px solid #EDEBEB;
  border-bottom: 1px solid #EDEBEB;
  line-height: 34px;
  margin-top: 25px;
}
.sidebar h1:first-child {
  margin-top: -1px;
}
.sidebar .form-group {
  margin-bottom: 8px;
}
.sidebar .form-group .form-control {
  height: 24px;
  font-size: 12px;
  padding: 6px;
}
.sidebar .form-group .input-group-addon {
  padding: 0px 4px;
}
.sidebar .form-group-btns {
  text-align: center;
}
.sidebar .form-group-data-input {
  text-align: right;
  margin-top: 5px;
}

/*列表页面主体右侧*/
.main {
  height: 100%;
  overflow-y: auto;
  padding: 10px 15px 70px 15px;
}
.main table {
  font-size: 12px;
  border-bottom: 1px #DDD solid;
  margin-bottom: 10px
}
.main table thead {
  background-color: #EDEDED;
}
.main .pagination {
  margin: 0;
}
.main .pagination-total {
  font-size: 12px;
  color: #999;
}

/* 详情页面 ================================================ */
.form-table {
  width: 100%;
  border-top: 1px #DDD solid;
}
.form-table tr:first-child td {
  padding-top: 20px;
}
.form-table tr td {
  padding: 15px 15px 0 15px;
}
.form-table tr:last-child td {
  padding-bottom: 20px;
}
.form-table .form-title {
  background: #F8F8F8;
  color: #000;
  text-align: right;
  width: 160px;
}
.form-table .form-control {
  height: 24px;
  font-size: 12px;
  padding: 6px;
}
.form-table textarea.form-control {
  height: auto;
}
.form-table .data-ranger {
  width: 360px;
  float: left;
  margin-right: 10px;
}
.form-table .data-ranger .input-group-addon {
  padding: 0 10px;
}
.form-table .form-el-group > * {
  margin: 0 10px;
  float: left;
}
.form-table .form-el-group > *:after {
  clear: both;
}
.thumb-pic-list {
  list-style: none;
}
.thumb-pic-list li {
  float: left;
  width: 80px;
  height: 80px;
  position: relative;
  margin-right:10px;
}
.thumb-pic-list li img {
  width: 60px;
  height: 60px;
}
.thumb-pic-list li a {
  font-size: 17px;
}
.thumb-pic-list li a.danger {
  color: #FF0000;
}
.city-chosen .form-control {
  width: 200px;
}
.admin-checkbox label {
  margin: 0 5px 0 10px;
}

/* spu页面 ================================================ */
.set-edit .nav,.user-edit .nav,.spu-edit .nav {
  margin-bottom: 20px;
}

/* 套餐页面 ================================================ */
.thumb-pic-list .new-pic {
  width: auto;
}

/* 订单操作记录页面 ================================================ */
.act-log .log-desc {
  width: 65%;
}
form.order-notify{
  margin-bottom: 35px;
}